
[defaults]

stdout_callback=yaml
gathering=explicit

# Without this configuration, setting integer values via templates
# on K8S resources fails (a string is set on the generated resource,
# instead of an int).  This config is slated for removal on 2.23,
# though, as more recent versions make the 'true' behave the only
# one available.
# https://docs.ansible.com/ansible/latest/reference_appendices/config.html#default-jinja2-native
jinja2_native=true
