{% macro site_node (hostvars, site) %}
	"{{ site }}" [
		shape=none;
		label=<<TABLE>
			<TR>
				<TD>Platform</TD>
				<TD>{{ hostvars[site].skupper_platform | default ('UNKNOWN') }}</TD>
			</TR>
			<TR>
				<TD>Host</TD>
				<TD>{{ hostvars[site].ansible_host }}</TD>
			</TR>
		</TABLE>>
	];
{% endmacro %}
digraph inventory {

compound=true;

{% for site in groups['all'] %}

subgraph "cluster_{{ site }}" {
        label = "{{ site }}";
        style = filled;
        color = {{ 'lightblue' if hostvars[site].site_spec.linkAccess is defined else 'lightgrey' }};

	"{{ site }}" [
		# label="{{ site }}\n({{ hostvars[site].inventory_namespace }})",
		shape=box,

	];

	{% for workload in hostvars[site].container_workloads | default ([]) %}
		"{{site}}-{{workload.name}}" [ label="{{ workload.name }}", shape="box3d" ];
		 # "{{site}}" -> "{{site}}-{{workload.name}}";
	{% endfor %}

	{% for resource in hostvars[site]["application_resources"] | default ([]) %}
		"{{ site }}-{{ resource.kind }}-{{ resource.metadata.name }}" [ label="{{ resource.kind }}\n{{resource.metadata.name}}" ];
		"{{ site }}" -> "{{ site }}-{{ resource.kind }}-{{ resource.metadata.name }}";
	{% endfor %}

	{{ site_node (hostvars, site) }}

}

{% endfor %}

{% for site in groups['all'] %}
	{% for link in hostvars[site]["skupper_links"] | default ([]) %}
		"{{ site }}" -> "{{ link }}" [
			#ltail="cluster_{{ site }}",
			lhead="cluster_{{ link }}",
		];
	{% endfor %}
{% endfor %}

subgraph "cluster_key" {
        label = "Key";
        #style = filled;
        color = lightgreen;

	site [ shape=box, color=lightgrey, style=filled ];
	workload [ shape=box3d ];
	resource;

	site -> resource;
	site -> site_access
	site_access  [color = lightblue, shape=box, style=filled];

}


}
